# Environments
.env

# Dependencies
__pycache__/
*.pyc

# Chrome Profiles (Too large & sensitive, using Base64 Secrets instead)
chrome_profile/
chrome_profile_ig/


# State and debug
whisk_state.json
bot_log.txt
*.png
*.jpg
!reference_image.jpg
!generated_daily_post.jpg
